 h2{
    color: black;
    font-weight: bold;
    font-size: 30px;
   }
.orderconfirm{
    display: flex;
    text-align: center;


}
input {
  height: 40px;
 border-radius: 4px;
 border: 1px solid black;
 box-shadow: none;
 margin-bottom: 15px;
 padding: 0px 10px;
 width: 300px;
  }

  input[type="text"]:hover{
 
    border: solid black 2px;
  }

.container1{
    display: flex;
    width: 50%;
    height: 70px;
    padding: 20px;
    margin-left: 200px; 
    justify-content: left;

} 
.container2{
    display: flex;
    width: 50%;
    height: 70px;
    padding: 20px;
    margin-left: -50px; 
    justify-content: left;


}

/* .container3 {
    position: fixed;
    height: 500px; /* Just an example height 
    bottom: 0;
  } */
  
  .click {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;

  }

  
 
 
