.createplan-form {
    max-width: 600px;
    margin: 0 auto;
}

.createplan-form label {
    display: block;
}

.createplan-form input {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: none;
    margin-bottom: 15px;
    padding: 0px 10px;
}

.dunamic-form {
	display: flex;
	/* grid-template-columns: 1fr 1fr 1fr; */
	gap: 10px;
}

.dunamic-form button {
	height: 40px;
	width: 80px;
	min-width: 80px;
}

.border-form {
	border: 1px solid black;
	padding: 20px;
	border-radius: 15px;
}

