.profile-border-form  {
	text-align: center;
	border: 1px solid rgb(55, 73, 80);
	background-color: rgb(248, 249, 250);
	box-sizing: border-box;
	box-shadow: 5px 5px 15px 5px rgb(248, 249, 250);
	padding: 0px;
	border-radius: 15px;
    font-size: 28px;
	width: 700px;

	margin: 0 auto;
}
.profile-border-form:hover{
	border: solid rgb(55, 73, 80) 3px ;
}

.profile-border-form p {
	display: flex;

}

.profile-border-form p span {
	padding: 5px;
}

/* .profile-border-form p:last-child {
	border-bottom: 0px;
} */

.profile-key {
	width: 200px;
	text-align: left;
	border-right: 1px solid #000;
	padding-left: 10px;
	/* border-left: 1px solid #000;  */
}

.profile-info {
	padding-left: 30px; 
}