.profile-border-form  {
	text-align: center;
	border: 1px solid black;
	padding: 0px;
	border-radius: 15px;
    font-size: 28px;
	width: 700px;
	margin: 0 auto;
}

.profile-border-form p {
	display: flex;
	border-bottom: 1px solid #000;
}

.profile-border-form p span {
	padding: 5px;
}

.profile-border-form p:last-child {
	border-bottom: 0px;
}

.profile-key {
	width: 200px;
	text-align: left;
	border-right: 1px solid #000;
	padding-left: 10px;
	/* border-left: 1px solid #000; */
}

.profile-info {
	padding-left: 30px;
}