.ownerpage {
    position: relative;
    padding-left: 300px;
}

.side-menu-bar {
	position: absolute;
	width: 300px;
	min-height: 100vh;
	top: 0;
	left: 0;
	background-color: #261C15;
	display: inline-block;
    padding: 30px 15px;
    height: 100%;
    position: fixed;
}

.side-menu-bar ul {
	font-size: 20px;
    align-items: start;

}

.side-menu-bar ul a{
	color: #F7F2F2;
    padding: 10px;
}

.side-menu-bar ul a.active{
	color: #C5D86D;
    
}

.side-menu-bar ul a:hover{
	color: #F05D23;
	transform: scale(1.08);
    
}


.user-header {
	margin: 0px;
	padding: 10px 60px;
	background-color: #F7F7F2;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 15px;
	position: relative;
}

.user-header h2 {
    margin: 0px;
   font-size: 16px;
}

.user-header button {
	margin: 0;
}

.side-menu-bar svg {
	font-size: 25px;
}


.user-header button a {
    color: #261C15;
    text-decoration: none;
}

.page-content {
    padding: 30px;
    min-height: calc(100vh - 115px);
  }

  .user-header .header-logo {
	position: absolute;
	left: 50px;
	top: 12px;
	display: inline-block;
	width: auto;
}