.footer {
	/* position: fixed; */
	bottom: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #261C15;
	color: #F7F7F2;
}
  
  .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-social-media__icon {
    margin: 0px 4px;
    width: 25px;
    height: 25px;
  }
  
  .footer-info {
    display: grid;
    justify-content: space-between;
    /* display: grid; */
    grid-template-columns: auto auto auto;
    padding: 35px 20px;
  }


  

  
  .footer-info-left, .footer-info-center, .footer-info-right {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 10px; */
    /* width: 30%; */
  }
  
  .footer-info-left {
    flex-direction: row;
    gap: 5px;
    flex-basis: 50%;
    flex-wrap: wrap;
  }
  
  .footer-info-right a {
    margin-left: 5px;
    text-decoration: none;
    color: #F7F7F2;
  }
 
   
  .footer-seperator {
    flex-grow: 1;
    border: none;
    height: 1px;
    background-color: black;
    width: 100%;
  }
  
 