/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* input[type=text] {
  width: 30%;
}

input[type=password] {
  width: 30%;
}

input[type=email] {
  width: 30%;
} */

.my-button {
  background-color: #E4E6C3; /* Green background color */
  border: none; /* Remove border */
  color: #261c15; /* White text color */
  padding: 12px 24px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make button inline */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add cursor pointer */
  border: 1px solid #000;
  border-radius: 4px; /* Add rounded corners */
  transition: background-color 0.3s ease; /* Add transition effect */
}

.my-button2 {
  background-color: #261C15; /* Green background color */
  border: none; /* Remove border */
  color: #E4E6C3; /* White text color */
  padding: 12px 24px; /* Add padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make button inline */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add cursor pointer */
  border: 1px solid #000;
  border-radius: 4px; /* Add rounded corners */
  transition: background-color 0.3s ease; /*Add transition effect*/
  /* transition: transform 0.3s ease-in-out; */
}

.my-button:hover {
  background-color: #F05D23; /* Change background color on hover */
  transform: scale(1.06);
}

.my-button2:hover {
  background-color: #F05D23; /* Change background color on hover */
  transform: scale(1.06);
}


.my-button3 {
  background-color: #261C15;
  color: #E4E6C3;
   border: '1px solid #000';
   border-radius: '1px'
}

.my-button3:hover {
  background-color: #F05D23; /* Change background color on hover */
  transform: scale(1.06);
}

 .icon:hover {
  transform: scale(1.3)
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
  width: 300px;
}

ul{
  list-style: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 3 equal columns */
  grid-template-rows: repeat(2, 330px); /* Creates 2 rows with a height of 100px */
  gap: 10px; /* Adds a 10px gap between grid items */
  list-style: none;
}

.grid-item {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 24px;
}

@media (min-width: 768px) {
 .ham {
  display: none;
 }

 .cross {
  display: none;
 }
}

@media (max-width: 768px) {
  .landing-image {
    order: 2;
    
  }

  .login-signup {
   
    order: 1;
  }

  .landing-image img {
    height: 400px;
    width: auto;
  }

  .landing-logo img {
    height: auto;
    margin-top: 0px;
    max-width: 300px;
  }

  .login-image {
    order: 2;
    /* width: 350px; */
  }

  .login-image img {
    height: 400px;
  }

  .side-menu-bar {
    left: -300px;
  }

  .ownerpage {
    padding-left: 0px;
  }
  .footer-info-left {
    flex-direction: column;
  }

  .footer-info {
   
    grid-template-columns: 1fr;
   gap: 10px;
    text-align: center;
  }

  .footer-info-center {
    order: 3;
  }

  .footer-info-right {
    order: 2;
  }

  .user-header {
   
    padding: 10px 15px;
    
  }

  .search-bar {
    
    width: 300px;
    margin-right: 0px;
  }

  .pink-header {
  
    flex-direction: column;
    align-items: center;
  }

  .user-header h2 {
   
    font-size: 13px;
    font-weight: 400;
    flex: 1;
  }

  .my-button {
    
    padding: 6px 10px;
    
    font-size: 12px;
   
  }

  .side-header-details svg {
    font-size: 16px;
  }

  .search-bar {
   
    width: 100%;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-bar form {
    width: 250px;
  }

  .side-header-details {
    width: 100%;
  }

  .side-header-details svg {
    font-size: 14px;
  }
  
  .ham {
    font-size: 20px;
  }

  .side-menu-bar.show-side-bar {
    left: 0;
    z-index: 999;
    width: 100%;
  }

  .cross {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
  }

  .heading {
   
    font-size: 28px;
    
  }

  .dunamic-form {
  
    
    flex-wrap: wrap;
    margin-bottom: 20px;
    gap: 0px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
  }

  .showplan-details {
   
    grid-template-columns: 1fr;
  
  }

  .profile-border-form {
   
    font-size: 15px;
   
    max-width: 100%;
  }

  .profile-info {
   
    word-wrap: anywhere;
    text-align: left;
  }

  .profile-key {
    width: 100px;
    min-width: 100px;
  }

  

  .homepage.customer-side .header-logo {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
  }

  .customer-side .user-header {
  
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .customer-side .header-logo img {
    margin-bottom: 0px;
  }

  .customer-side .my-button {
    width: 100%;
  }

  .customer-side h2 {
    flex: inherit;
  }

  .customer-side .banner-image {
    display: none;
  }

  .form-control input {
    width: 60%;
  }


  .dishpage-container {
    flex-direction: column;
  }

  .dishlist-card-head {
   
    justify-content: left;
    
    flex-direction: column;
  }

  .dishlist-card {
    
    justify-content: left;
    width: 65%;
    
  }

  .btn-block {
    width: 60%;
  }
  
  .form-control {
    width: 60%;
  }

  
  
  
}

