.showplan-details {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: flex-start;
	font-size: 20px;
    gap: 15px;
}

.showplan-details > li {
	border: 1px solid black;
	min-height: 100%;
	border-radius: 15px;
	padding: 15px;
    text-align: center;
    position: relative;
    padding-bottom: 70px;
}

.showplan-details > li > p {
	margin: 0;
    margin-bottom: 10px;
}

.dynamic-details {
	margin: 0;
	font-size: 20px;
    gap: 10px;
}

.dynamic-details p{
	margin: 0;

}

.showplan-button {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%,0);
}

.showplan-button.button {
	margin: 0;
	padding: 10px;
}